In [71]:
import re
# text = 'a 1 -2.03 b 1 2.03 c 0 2.33 d 1 1.07 a 1 -3.07\n b 1 1.0 b 1 1.037 c 0 1.07 a 1 2.07 b 1 -2.07 \n c 1 -2.17 b 1 2.07 c 1 1.07\n'
text = 'a 1 -2.03 b 1 2.03 c 0 2.33 d 1 1.07 a 1 -3.07'
all_states = re.findall(r'[a-z]',text)
print(all_states)

['a', 'b', 'c', 'd', 'a']

In [2]:
unique_states = list(set(all_states))
print(unique_states)

['c', 'a', 'd', 'b']

In [120]:
import re

text = 'a 1 -2.03 b 1 2.03 c 0 2.33 d 1 1.07 a 1 -3.07'

# Encontrar todas las coincidencias letra + número + número
pattern = r"[a-zA-Z]\s+\d+\s+-?\d+\.\d+"
matches = re.findall(pattern, text)
print(matches)
# Generar las subcadenas desde cada punto hacia adelante
subchains = [' '.join(matches[i:]) for i in range(len(matches))]

# Mostrar resultados
for chain in subchains:
    print(chain)

['a 1 -2.03', 'b 1 2.03', 'c 0 2.33', 'd 1 1.07', 'a 1 -3.07']
a 1 -2.03 b 1 2.03 c 0 2.33 d 1 1.07 a 1 -3.07
b 1 2.03 c 0 2.33 d 1 1.07 a 1 -3.07
c 0 2.33 d 1 1.07 a 1 -3.07
d 1 1.07 a 1 -3.07
a 1 -3.07

In [158]:
float_pattern = re.compile(r'\d.\d')
state_action_pattern = re.compile(r'( *[a-z] +\d +-?\d\.\d+ \w *\d)')
print(state_action_pattern.findall(text))
print(state_action_pattern.(text))
for match in state_action_pattern.finditer(text):
    print(match.groups())

['a 1 -2.03 b 1', ' c 0 2.33 d 1']

TypeError: sub() missing required argument 'string' (pos 2)

In [79]:
state_action_pattern = re.compile(r'([a-z]).+(\d).+(-?\d\.\d)')

for match in state_action_pattern.finditer(text):
    print(match.groups())

('a', '1', '3.0')

In [63]:
import re

secuencia = "a 1 b 1  c 1 a 2 b 1" # Ejemplo con más repeticiones

resultados = {}
partes = re.findall(r'([a-z]) +(\d+)', secuencia)

for letra, numero_str in partes:
    numero = int(numero_str)
    if letra in resultados:
        resultados[letra] += numero
    else:
        resultados[letra] = numero

resultado_formateado = [(letra, suma) for letra, suma in resultados.items()]
print(resultado_formateado)

[('a', 3), ('b', 2), ('c', 1)]

In [35]:
import pandas as pd
q_values_df = pd.DataFrame(0.0, index=unique_states, columns=[0,1])
q_values_df

     0    1
b  0.0  0.0
c  0.0  0.0
a  0.0  0.0
d  0.0  0.0

In [39]:
print(q_values_df.index[0],'|||||',q_values_df.loc['b'][1])

b ||||| 0.0

In [164]:
lista = [1,2,3,4,5,6]
for i,e in enumerate(lista):
    rewards = [x for x in lista[i:]]
    q_value = sum(rewards)
    print(i,e,rewards,q_value)

0 1 [1, 2, 3, 4, 5, 6] 21
1 2 [2, 3, 4, 5, 6] 20
2 3 [3, 4, 5, 6] 18
3 4 [4, 5, 6] 15
4 5 [5, 6] 11
5 6 [6] 6

In [166]:
a = (1,2,3)
a[1]

2